# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Compiled class files
*.class

# Logs
*.log

# IDE
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Application properties (optional if contains passwords)
application.properties